# Python >= 3.12
alpaca-py>=0.43.2
alpaca-trade-api>=3.2.0
APScheduler>=3.11.2
numpy>=2.4.2
pandas>=3.0.1
pandas_market_calendars>=5.3.0
pytz>=2025.2
pytz-deprecation-shim>=0.1.0.post0
PyYAML>=6.0.1
requests>=2.32.5
requests-oauthlib>=2.0.0
td-ameritrade-python-api>=0.3.5
tomlkit>=0.14.0
tzdata>=2025.3
tzlocal>=5.3.1
python-dateutil>=2.9.0.post0
